<div class="card col-3">
  
  <%= image_tag("#{@avatar}", class: "card-image img-responsive") %>

  <h3 class="card-header">Hello <%= current_user.username %>!</h3>

  <div class="card-body">
    
    <p>🌟'd repos: <%= @stars %></p>

    Followers: <%= @followers %>

    Following: <%= @following %>
  </div>
</div>

<div class="card col-3">
  <h3 class="card-header">Repos</h3>
  <div class="card-body">
    <% @repos.each do |repo| %>
      <%= link_to repo[:name], repo[:html_url], target: "_blank" %>
    <% end %>
  </div>
</div>
