<!DOCTYPE html>
<html>
  <head>
    <title>GitShrub</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'spectre', media: 'all' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <ul class="tab tab-block">
      <li class="tab-item">
          <a href="#">GitShrub</a>
      </li>
      <li class="tab-item">
          <a href="#">Repos</a>
      </li>
      <li class="tab-item">
          <a href="#">Issues</a>
      </li>
      <li class="tab-item">
          <a href="#">Gists</a>
      </li>
      <li class="tab-item">
        <%= link_to "Login", "https://github.com/login/oauth/authorize?client_id=#{ENV['GITHUB_CLIENT_ID']}&scope=repo" %>
      </li>
    </ul>
    <%= yield %>
  </body>
</html>
